<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3 text-center">
          <h1 class="mt-5">Olá <%= user.nome %>, seja bem-vindo.</h1>
          <p class="lead mt-5">Olá! Este é o portal que disponibilizamos para você ter total controle sobre os seus leads, permitindo que você acompanhe e gerencie os principais dados dos seus clientes enquanto estiver conectado à sua conta. Caso deseje criar uma nova conta, basta clicar no botão 'Sair' e seguir o processo de registro.</p>

          <a class="btn btn-outline-dark" href="/" role="button">Home</a>

        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>
    <%- include('includes/footer') %>